
<h2>Create</h2>

<h4>ToDo</h4>

<div>
    <label for="seq">Sequence</label>
    <input type="text" title="seq" id="jobSeq" />
</div>
<div>
    <label for="title"> Job Title</label>
    <input type="text" title="title" id="jobTitle" />
</div>
<input type="button" id="create" value="Create New Job" />

<div>
    <a href="https://localhost:44398/">back to list</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $("#create").click(function () {

            var json = JSON.stringify({ seq: $("#jobSeq").val(), title: $("#jobTitle").val() });
            $.ajax({
                url: 'https://localhost:44398/api/todolistapi/create-to-do',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: json,
                dataType: 'json',
                success: function () {
                    location.href = "https://localhost:44398/";
                    console.log(json);
                },
                error: function (data, status, xhr) {
                    console.log("error");
                }
            });
        });
    </script>
}
